@import utils.Navbar
@(navbar: Navbar)(event: Event)
@main(navbar = navbar){
    <div class="row">
        <div class="center col s12 m12">
            <div class="container">
                <div class="col s12 m7">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="@event.getImageLink">
                            <span class="card-title">@event.geteventName()</span>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h3>@event.geteventName()</h3>
                                <p>Time: @event.getEventDate</p>
                                <p>Place: @event.getVenue</p>
                                <p>Price: @event.getCost</p>
                                <p>Seats: @event.getCapacity</p>
                            </div>
                            <div class="card-action">
                                <a href="#">link to event???</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}