<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Community Organisation</title>

            <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="@routes.Assets.versioned("stylesheets/materialize.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="@routes.Assets.versioned("stylesheets/style.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
            <!-- CSS  -->
    </head>

    <body>
        <!-- Navigation bar -->
        <nav class="deep-orange" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center">Logo</a>
                    <!-- Desktop Navbar Items -->
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>

                <ul class="left hide-on-med-and-down">
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Upcoming</a></li>
                    <li><a href="#">Something Else</a></li>
                </ul>
                    <!-- Desktop Navbar Items -->

                    <!-- Mobile Navbar Items -->
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Upcoming</a></li>
                    <li><a href="#">Something Else</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    <!-- Mobile Navbar Items -->
            </div>
        </nav>

        <!-- Upcoming Event Cards -->
        <div class="container">
            <div class="section">

                <div class="row center">
                    <h5 class="header col s12 light">Upcoming Events</h5>
                </div>

                <div class="row">
                    @for(i <- 1 to 6){ @*Generate 6 of the same card, for now*@
                        <div class="col s12 m4">
                            <div class="card hoverable small">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="@routes.Assets.versioned("images/splendour.jpg")">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Splendour In The Grass<i class="material-icons right">more_vert</i></span>
                                    <p><a href="#">More Information</a></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Splendour In The Grass<i class="material-icons right">close</i></span>
                                    <p>
                                        Location: North Byron Parklands<br>
                                        Date: 01/01/2000<br>
                                        Price: $300<br>
                                        Availability: 50,000
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row center">
                    <a href="#"><h5 class="header col s12 light black-text">See more</h5></a>
                </div>
            </div>
        </div>
        <div class="divider"></div>

            <!-- Gallery, About, Get Involved, Connect, Top Donators -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card teal small">
                            <div class="card-content white-text">
                                <span class="card-title">Gallery</span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam facilisis turpis quis sem ultricies facilisis nec sed enim. Suspendisse at purus varius, vehicula ligula in, pretium ligula. Integer suscipit maximus nulla, et vehicula velit pellentesque eu.
                                </p>
                            </div>

                            <div class="card-action">
                                <a href="#">Past Events</a>
                                <a href="#">Last Year's Special Event</a>
                            </div>
                        </div>

                        <div class="card teal small">
                            <div class="card-content white-text">
                                <span class="card-title">Get Involved</span>
                                <p>
                                    Quisque sem mauris, dapibus a venenatis vel, blandit sed purus. Etiam ultricies a purus nec varius. Etiam elementum felis a consectetur pulvinar.
                                </p>
                            </div>

                            <div class="card-action">
                                <a href="#">Contact Us</a>
                            </div>

                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card teal small">
                            <div class="card-content white-text">
                                <span class="card-title">About</span>
                                <p>
                                    Nulla imperdiet mollis est non mattis. Vestibulum iaculis condimentum diam, in hendrerit mauris sagittis ultricies.
                                </p>
                            </div>

                            <div class="card-action">
                                <a href="#">Find Out More</a>
                            </div>

                        </div>
                        <div class="card teal small">
                            <div class="card-content white-text">
                                <span class="card-title">Connect</span>
                            </div>

                            <div class="card-action">
                                <a href="http://facebook.com" class="white-text"><i class="fa fa-facebook-official large"></i></a>
                                <a href="http://twitter.com" class="white-text"><i class="fa fa-twitter-square large"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <h4 class="center-align">Top Donators</h4>
                            </li>
                            <li class="collection-item avatar">
                                <img src="@routes.Assets.versioned("images/user-images/john_smith.jpg")" alt="" class="circle">
                                <span class="title">John Smith</span>
                                <p class="secondary-content">$500</p>
                            </li>

                            <li class="collection-item avatar">
                                <img src="@routes.Assets.versioned("images/user-images/laura_jones.jpg")" alt="" class="circle">
                                <span class="title">Laura Jones</span>
                                <p class="secondary-content">$400</p>
                            </li>

                            <li class="collection-item avatar">
                                <img src="@routes.Assets.versioned("images/user-images/john_smith.jpg")" alt="" class="circle">
                                <span class="title">John Smith</span>
                                <p class="secondary-content">$500</p>
                            </li>

                            <li class="collection-item avatar">
                                <img src="@routes.Assets.versioned("images/user-images/laura_jones.jpg")" alt="" class="circle">
                                <span class="title">Laura Jones</span>
                                <p class="secondary-content">$400</p>
                            </li>

                            <li class="collection-item avatar">
                                <img src="@routes.Assets.versioned("images/user-images/laura_jones.jpg")" alt="" class="circle">
                                <span class="title">Laura Jones</span>
                                <p class="secondary-content">$400</p>
                            </li>

                            <li class="collection-item">
                                <span class="title"><p class="center-align">Thank You!</p></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer deep-orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class=><a class="white-text" href="#">Contact Us</a></h5>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class=><a class="white-text" href="#">About Us</a></h5>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
            © 2014 Copyright CommOrg
                </div>
            </div>
        </footer>

            <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/materialize.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/init.js")"></script>
            <!--  Scripts-->
    </body>