@import utils.Navbar
@(navbar: Navbar)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(materializeFieldConstructor.f)}

<!--login modal-->
<div id="login" class="modal">
    <div class="modal-content">
        <h2 class="center-align">Login</h2>
        <div class="center-align">
            <div class="divider"></div>
            @helper.form(action = routes.ApplicationController.login(), 'class -> "col s12") {
                <div class="row center-align">
                    @helper.inputText(navbar.userForm("email"),
                    'input_class -> "input-field col m10 offset-m1 orange-text",
                    'id -> "login_email",
                    'class -> "validate",
                    '_label -> "Email Address",
                    'input_type -> "text",
                    'icon -> "mail")

                    @helper.inputPassword(navbar.userForm("password"),
                    'input_class -> "input-field col m10 offset-m1 orange-text",
                    'id -> "login_password",
                    'class -> "validate",
                    '_label -> "Password",
                    'input_type -> "text",
                    'icon -> "lock_open")

                    <div class="input-field col m10 offset-m1 orange-text">
                        <input type="checkbox" class="orange-text" id="filled-in-box" checked="checked">
                        <label for="filled-in-box">Remember me</label>
                    </div>
                </div>
                <div class ="center-align">
                    <div class="divider"></div>
                    <p>
                        <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                        <input type="submit" value="Login" class="waves-effect waves-orange deep-orange btn btn-flat">

                    </p>
                </div>
            }

        </div>
    </div>
</div>