@import utils.Navbar
@(navbar: Navbar)(events: List[Event])(searchForm: Form[String])
<!-- Upcoming Event Cards -->
@main(navbar = navbar){
    <div class="container">
    <div class="input-field col s6">
        @helper.form(action = routes.ApplicationController.search(), 'class -> "col s12") {
            @helper.inputText(searchForm("search"),
                'input_class -> "input-field col m10 offset-m1 orange-text",
                'id -> "search",
                'class -> "validate",
                '_label -> "search",
                'input_type -> "text",
                'icon -> "search"
            )
        }

        <h1>@request().body().asText() request body here</h1>
    <br>
    <br>

        @*quick bit of form logic to return no results found if search is unpopulated*@
        @if(events.size()==0 ){
            @if(searchForm.field("search").value() == null) {
                <h1>no results found</h1>
            }
        }


    @for(i <- 1 to events.size()) { @*Generate a card for each event returned by the query*@
        <div class="card hoverable small">
            <div class = "center">

            @events(i-1).geteventName()

            </div>
        </div>
    }
    </div>

    </div>

}